:root {
	// $color-black: #0d141f;
	// $color-white: #eefbf5;
	// $color-primary: #b892ff;
	// $color-interaction: #fed872;

	--color-black: #0d141f;
	--color-white: #eefbf5;
	--color-primary: #b892ff;
	--color-interaction: #fed872;
}
